{%- if inline.name == "span" %}
    {%- if inline.variant == "emphasis" %}
        {% set inline_tag = "em" %}
    {%- elif inline.variant == "mark" %}
        {% set inline_tag = "span" %}
    {%- elif inline.variant == "link" %}
        {% set inline_tag = "a" %}
        {% set ref = inline_tag.target %}
    {%- elif inline.variant == "xref" %}
        {% set inline_tag = "a" %}
        {% set ref = "#" ~ inline_tag.target %}
    {%- else -%}
        {% set inline_tag = inline.variant %}
    {% endif -%}
{% endif -%}
{%- if inline_tag %}<{{inline_tag}}>{% endif -%}
{{- inline.value -}}
{%- if inline_tag %}</{{inline_tag}}>{% endif -%}
